#ignore yang dibutuhkan
.vscode
Inventory/*.exe
Engimon/*.exe
Skill/*.exe
Command/*.exe
Display/*.exe
Peta/*.exe
Point/*.exe
Player/*.exe
Generate/*.exe
Battle/*.exe
Main/*.exe
Engimon/tempCodeRunnerFile.cpp
